body{
    margin: 0;
    font-size: 20px;
    background-color: rgb(13, 24, 34);
    color: #FFFFFFFF;
}
section{
    display: flex;
}
.common-flex{
    display: flex;
    
}
.image-section{
    margin: 50px 10px 0px 100px;
}
.image {
    width: 100%;
    
}
.right-section {
    margin: 29px 120px 10px 80px;
    width: 60%;
}
.info h2 {
    font-size: 31px;
}

.memory h4 {
    margin: 45px 0px 0px 0px;
}
.storage h4{
    margin: 45px 0px 0px 0px;
}
.delivery h4{
    margin: 45px 0px 0px 0px;
}

.common-flex button {
    background-color: #ffffff00;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 7px;
    padding: 9px 45px;
    color: azure;
}
.base {
    border-bottom: 1px solid grey;
    width: 250px;
    justify-content: space-between;
}
.delivery {
    margin-bottom: 30px;
}
.btn {
    padding: 4px 30px;
    background-color: #ff686800;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.inp {
    padding: 2px 15px 2px 2px;
    font-size: 14px;
}
hr {
    margin: 5px 110px;
}
.total{
    text-align: center;
}
.active{
    background-color: rgb(105, 105, 105) !important;
    color: white;
}
.btnc:hover{
    /* background-color: aqua; */
    transform: scale(1.03);
}





@media only screen and (max-width: 600px){
section {
    display: flex;
    flex-direction: column;
}
.image-section{
    margin: auto;
    
}
.right-section{
    margin: auto;
}
hr {
    margin: 24px 32px;
}
}